<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="tyylit.css">
    <script defer src="all.js"></script>
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/manifest.json">
    <link rel="manifest" href="/manifest.webmanifest">
    <title>Minecraft haasteet</title>
  </head>
  <body id="runko">
    <div id="ylalaatikko">
      <h1><a href="/" style="position: absolute;height: 100px;width: 100%;"></a>Minecraft haasteet
      </a></h1>
    </div>
    <% try { if (palvelin["players"].length > 0) { %>
      <div class="pelaajalista">
        <h2>Palvelimella nyt</h2>
        <ul class="pelaajat">
          <% for (var i = 0; i < palvelin["players"].length; i++) {%>
          <li>
            <a href=<%- "/" +  palvelin["players"][i] + ".png" %> rev=<%- JSON.stringify(palvelin["players"][i]) %>><img src=<%- "https://mc-heads.net/avatar/" +  palvelin["players"][i] + ".png" %> height="50" width="50" alt=<%- JSON.stringify(palvelin["players"][i]) %>></a>
          </li>
          <% } %>
        </ul>
      </div>
      <% } if (palvelin["players"].length == 0) { %>
        <div class="pelaajalista">
          <h2>Palvelin käynnissä</h2>
        </div>
      <% } } catch { %>
        <div class="pelaajalista">
          <h2 style="color: rgb(119, 21, 21)">Palvelin kiinni</h2>
        </div>
      <% } %>
    <table id="paalista">
        <tr><td class="pelaaja pelaaja-profiili"><img src=<%- "https://mc-heads.net/avatar/" +  data[0] + ".png" %> height="50" width="50" alt=<%- JSON.stringify(data[0]) %>></td><td style="height: 80px;"><%= data[0] %></td>
        <tr><td>Kauppias</td><td class="merkinta"></td></tr>
        <tr><td>XP-farmi</td><td class="merkinta"></td></tr>
        <tr><td>Kyläläisten kuningas</td><td class="merkinta"></td></tr>
        <tr><td>Piilopirtti</td><td class="merkinta"></td></tr>
        <tr><td>Kartanon valtias</td><td class="merkinta"></td></tr>
        <tr><td>Alkuasukas</td><td class="merkinta"></td></tr>
        <tr><td>Lemmikkikeräilijä</td><td class="merkinta"></td></tr>
        <tr><td>Akvaario</td><td class="merkinta"></td></tr>
        <tr><td>Witherin metsästäjä</td><td class="merkinta"></td></tr>
        <tr><td>Apulainen</td><td class="merkinta"></td></tr>
        <tr><td>Timanttihaaste</td><td class="merkinta"></td></tr>
        <tr><td>Redstonenikkari</td><td class="merkinta"></td></tr>
        <tr><td>Taitelija</td><td class="merkinta"></td></tr>
    </table>
  </body>
  <script>
    var tieto = <%- JSON.stringify(data) %>;
    var lista = document.getElementsByClassName("merkinta")
    for (var j = 1; j < lista.length; j++) {
        if (tieto[j] == "x") {
        var sisaElement = document.createElement("i");
        sisaElement.classList.add("fas")
        sisaElement.classList.add("fa-check")
        lista[j - 1].appendChild(sisaElement)
        }
    }
  </script>
</html>
